@inherits LayoutComponentBase

<PageTitle>AuthAdminUI</PageTitle>
<FluentLayout>
    <LoginDisplay />
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentDivider Style="min-height:100%" Role="DividerRole.Presentation" Orientation="Orientation.Vertical"></FluentDivider>
        <FluentBodyContent>
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
        <FluentDialogProvider />
        <FluentToastContainer MaxToastCount="10" />

    </FluentStack>
    @* <FluentFooter>
        Test Policy Server
    </FluentFooter> *@
</FluentLayout>

