<nav>
    <FluentNavMenu Width="50" Collapsible="false" Title="Nav Menu">
        <FluentNavLink Appearance=Appearance.Accent Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size24.Home())" IconColor="Color.Accent"></FluentNavLink>
    </FluentNavMenu>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
