@{
    ViewData["Title"] = "Yes!, You are Authorized.";
}

<h1>Yes @Context.User.Identity.Name! You <span style="color:green; font-style:italic;">are</span> Authorized.</h1>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
    <a href='javascript:history.go(-1)' style="font-size:large;">< Go back...</a>
</p>